<html>

<head>
    <title>First EJS APP</title>
    <link href="./views/public/style.css" rel="stylesheet">
</head>

<body>
    <% users.forEach(user=>{ %>
        <div class="user">
            <img src="<%=user.image%>" ,alt="avatar" />
            <h3>
                <%=user.name%>
            </h3>
            <p>
                <%=user.email%>
            </p>
        </div>
        <%})%>
            <br>
            <a href="/form">Add User</a>
</body>

</html>